.whyChooseUs {
  text-align: center;
  padding: 20px;
  background-color: #49170E;
  color: white;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.feature {
  opacity: 0.5;
  transition: opacity 0.5s ease, transform 0.5s ease;
  margin: 0 10px;
}

.feature.active {
  opacity: 1;
  transform: scale(1.1);
}

.image {
  width: 100px;
  height: 100px;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.arrow {
  cursor: pointer;
  margin: 0 20px;
  transition: 0.3s ease;
}

.arrow:hover {
  transform: scale(1.1);
}

.description {
  text-align: center;
  margin-top: 30px;
}

.description h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.description p {
  font-size: 1.5em;
  opacity: 0.5;
}
