.about {
  padding: 50px 20px;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container h2 {
  font-size: 4em;
  margin-bottom: 20px;
  color: #4e1b0e;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  max-width: 600px;
  margin-bottom: 20px;
}

.text p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.text button {
  padding: 10px 20px;
  background-color: #4e1b0e;
  color: white;
  border: none;
  cursor: pointer;
}

.text button:hover {
  background-color: #3b160a;
}

.images {
  display: flex;
  gap: 30px;
}

.images img {
  width: 600px;
  height: auto;
  border-radius: 8px;
  border: 3px solid #4e1b0e;
}

@media (max-width: 768px) {
  .images {
    flex-direction: column;
  }
}
