.headingSection {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 50px 20px;
  color: white;
  text-align: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 20px;
}

.textContainer {
  max-width: 800px;
  margin: 0 auto;
}

.heading {
  font-size: 2.5em;
  font-weight: bold;
}

.subheading {
  font-size: 2em;
  margin: 10px 0;
}

.description {
  font-size: 1.2em;
  line-height: 1.6;
}
