.section {
  height: calc(100vh - 61px);
  overflow: hidden; /* Ensure the section hides overflow during transitions */
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: background-image 1s ease-in-out; /* Smooth transition for background image */
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  z-index: 1;
}

.content, .imageContainer {
  position: relative;
  z-index: 2;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slideUp {
  animation: slideUp 1s ease-in-out forwards; /* Smooth sliding up transition */
}

.slideDown {
  animation: slideDown 1s ease-in-out forwards; /* Smooth sliding down transition */
}

.content {
  max-width: 50%;
  text-align: center; /* Center align text */
}

h1, p, .exploreButton {
  opacity: 0; /* Initial state hidden */
  transform: translateY(100%); /* Initial state positioned below */
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.exploreButton {
  background-color: #49170E;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.exploreButton:hover {
  background-color: #49170E;
}

.imageContainer {
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure relative positioning for absolute next slide image */
  overflow: hidden; /* Hide overflow to ensure smooth sliding effect */
}

.chickenImage {
  max-width: 100%;
  border-radius: 10px;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slideIn {
  animation: slideUp 1s ease-in-out; /* Smooth sliding transition for the smaller image */
}

/* Responsive Design */
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    padding: 20px;
  }

  .content {
    max-width: 100%;
    text-align: center;
  }

  .imageContainer {
    max-width: 100%; /* Take full width on smaller screens */
    order: -1; /* Move image container above content in column layout */
    margin-bottom: 10px; /* Add spacing between images and text */
  }

  .chickenImage {
    max-width: 60%; 
   /* Adjust image size for better proportion */
    margin-bottom: 10px; /* Add spacing between images and text */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .chickenImage {
    max-width: 70%; 
   /* Adjust image size for better proportion */
    margin-bottom: 20px; /* Add spacing between images and text */
  }

  .exploreButton {
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
