.contact {
  padding: 20px;
  background-color: #fff;
}

.header {
  background-color: #2d0d0d;
  padding: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 100px;
  height: 100px;
  background-color: #fff;
  margin: 0 10px;
  border-radius: 10px;
}

.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.info {
  flex: 1;
  margin-right: 20px;
}

.info h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.info p {
  font-size: 1em;
  color: #333;
}

.form {
  flex: 1;
  max-width: 600px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #8b4513;
  border-radius: 5px;
  box-sizing: border-box;
}

.formGroup input {
  height: 40px;
}

textarea {
  resize: vertical;
  height: 100px;
}

@media (min-width: 768px) {
  .formContainer {
    flex-direction: row;
  }

  .form {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .formContainer {
    flex-direction: column;
  }

  .info,
  .form {
    margin: 0;
    width: 100%;
  }
}
