.navbar {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #8b0000;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 15px 30px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
  margin-left: 2%;
  padding: 0;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menuItems {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
  opacity: 0.9;
  padding: 0;
  margin: 0;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
  transition: 0.1s;
}

.menuItems a:hover {
  text-decoration: none;
  font-size: 27px;
  opacity: 1;
  text-decoration: underline;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff; /* White color for the bars */
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    gap: 5px;
    height: 35vh;
    width: 200px;
    background-color: #8b0000;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu.open {
    display: flex;
    transform: translateX(0);
  }

  .menuItems {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin: 0%;
  }

  .menuItems a {
    font-size: 20px;
    padding: 5px 10px;
    width: 100%;
  }

  .menuItems a:hover {
    font-size: 22px;
  }

  .hamburger {
    display: flex;
    position: relative;
    z-index: 2;
  }
}
