.footer {
  background-color: #fff;
  font-family: 'Calistoga', sans-serif;

  box-sizing: border-box; /* Ensures padding is included in width */
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  max-width: 1200px; /* Limit width for larger screens */
  margin: 0 auto; /* Center align on larger screens */
}

.left {
  flex: 0.5;
  padding: 0 50px; /* Increased padding for larger screens */
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #5c2d0d;
  margin-bottom: 10px;
}

.description {
  color: #333;
}

.right {
  flex: 1.3;
  padding: 0 50px; /* Increased padding for larger screens */
}

.contactTitle {
  font-size: 22px;
  font-weight: 600;
  color: #5c2d0d;
  margin-bottom: 10px;
  text-align: center;
}

.columnContainer {
  display: flex;
  gap: 20px;
}

.contactColumn {
  flex: 1;
  margin-left: 30px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px;
}

.icon {
  width: 25px;
  height: 25px;
}

.contactHeading {
  font-size: 16px;
  font-weight: 600;
  color: #5c2d0d;
  margin-bottom: 5px;
}

.contactDescription {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.copyright {
  text-align: center;
  background-color: #5c2d0d;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px; /* Reduced padding for smaller screens */
  }

  .left, .right {
    flex: 1 1 100%; /* Full width on smaller screens */
    max-width: 100%;
    padding: 0 20px; /* Adjusted padding for smaller screens */
  }

  .right {
    padding-top: 20px; /* Adjusted top padding */
  }

  .contactColumn {
    flex: 1 1 100%; /* Full width on smaller screens */
    max-width: 100%;
    margin-left: 0; /* Reset left margin */
  }
}
